body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('time_travel_background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.7);
}

body{
    margin: 0;
}


h2{
    text-align: center;
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

h3{
    font-weight: 900;
    text-align: center;
    color: white;
    margin-top: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.container2 h4{
    text-align: center;
    margin: 10px 10px;
    font-weight: bold;
}
.container2 p{
    font-size: 15px;
    text-align: center;
}

.container2{
    display: grid;
    grid-template-areas: "info1 info2 info3";
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 175px;
    grid-column-gap: 100px;
    justify-content: center;
    margin-top: 100px
}
.info1{
    grid-area: info1;
}
.info2{
    grid-area: info2;
}
.info3{
    grid-area: info3;
}
.container2 div{
    background-color: #4A3B50;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
}