



body{
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background: url('destinations_background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container2 {
    display: grid;
    grid-template-areas: "filtrer rechercher";
    grid-template-columns: 100px 100px 100px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container2 > input[type="button"] {
    grid-area: filtrer;
}

.container2 form {
    grid-area: rechercher;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.container2>input{
    background-color: #61689a;
    color: white;
}

.container2>form>input[type="submit"]{
    background-color: #61689a;
}
.Voyages {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-auto-rows:320px;
    gap: 70px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}
.Voyages > div {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #4A3B50;
    box-shadow: 0px 0px 15px rgba(173, 216, 230, 0.8);
}
.Voyages .image_destinations {
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-radius: 8px;
}

.Voyages .période {
    font-size: 17px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.Voyages .description{
    margin: 0 10px;
    color: white;
    text-align:left;
}
.Voyages .prix_bouton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px 10px 10px;
}

.Voyages .prix {
    font-size: 20px;
    font-weight: bold;
    color: #ffe680;
    animation: sparkle 1.5s infinite alternate;
}

@keyframes sparkle {
    0% { text-shadow: 0 0 5px #ffffff, 0 0 10px #d9d9d9, 0 0 15px #bfbfbf; }
    50% { text-shadow: 0 0 10px #ffffff, 0 0 20px #e6e6e6, 0 0 25px #cccccc; }
    100% { text-shadow: 0 0 5px #ffffff, 0 0 10px #d9d9d9, 0 0 15px #bfbfbf; }
}

.Voyages .en_savoir_plus {
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    background-color: #61689a;
    border: 2px solid black;
    border-radius: 5px;
}

.Voyages .en_savoir_plus:hover {
    color: aquamarine;
    box-shadow: 0px 0px 8px rgba(173, 216, 230, 0.8);
}
