



body{
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background: url('destinations_background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container2 {
    display: grid;
    grid-template-areas: "filtrer rechercher";
    grid-template-columns: 100px 100px 100px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container2 > input[type="button"] {
    grid-area: filtrer;
}

.container2 form {
    grid-area: rechercher;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.container2>input{
    background-color: #61689a;
    color: white;
}

.container2>form>input[type="submit"]{
    background-color: #61689a;
}
.Voyages {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-auto-rows:300px;
    gap: 70px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}
.Voyages > div {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #4A3B50;
}

.Voyages .image_destinations {
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-radius: 8px;
}

.Voyages .période{
    margin: 0 10px;
    text-align: center;
    color: white;
}

.Voyages .description{
    margin: 0 10px;
    color: white;
    text-align:left;
}

.Voyages .prix{
    color: white;
    margin-left: 10px;
}

.Voyages .en_savoir_plus{
    margin: 0 10px;
    color: white;
    margin-left: 175px;
    text-decoration: none;
    background-color: #61689a;
    border:  black solid 2px;
    padding: 5px 5px;
}
.Voyages .en_savoir_plus:hover{
    color: aquamarine;
}