@import url('variables.css');
body {
    background-color: var(--couleur-primaire-fond);
    margin: 0;
}

h1 {
    font-size: 40px;
    font-family: var(--police-grand-titre);
    text-align: center;
    color: var(--couleur-bandeau-texte);
    background-color: var(--couleur-fond-bandeau);
    margin: 0 0 30px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: var(--ombre-texte-Titre);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: var(--border-radius-box);
}

table {
    background-color: var(--couleur-secondaire-fond);
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: var(--ombre-box);
    color: var(--couleur-textes);
    border-radius: var(--border-radius-box);
    overflow: hidden;
    width: 90%;
    max-width: 1000px;
}

th, td {
    padding: 15px;
    font-size: 15px;
    border: var(--bordure_bouton);
    text-align: center;
}
td{
    font-family: var(--police-paragraphe);
}

th {
    font-family: var(--police-moyen-titre);
    font-size: 17px;
    background-color: #555;
    color: var(--couleur-textes);
}

tr:nth-child(even) {
    background-color: var(--couleur-secondaire-fond);
    transition: background-color 0.3s ease-in-out;
}

td .action {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}

td .action:hover {
    transform: var(--scale-bouton);
}

.action img {
    height: 30px;
    width: auto;
}

p {
    font-family: var(--police-paragraphe);
    text-align: center;
    padding: 15px;
    background: var(--couleur-fond-bandeau);
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 14px;
    color: var(--couleur-bandeau-texte);
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
