@import url('variables.css');

body {
    margin: 0;
    padding: 0;
    background-color: var(--couleur-primaire-fond);
}


h1 {
    font-family: var(--police-grand-titre);
    text-align: center;
    padding: 20px;
    color: var(--couleur-bandeau-texte);
    background-color: var(--couleur-fond-bandeau);
    margin: 0;
    font-size: 2.5em;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: var(--couleur-secondaire-fond);
    border-radius: var(--border-radius-box);
    box-shadow: var(--ombre-box);
    transition: padding 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.form-groupe {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
    font-family: var(--police-paragraphe);
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #61689a;
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--couleur-fond-bandeau);
    color: var(--couleur-placeholder);
    font-style: var(--font-style-placeholder);
    box-sizing: border-box;
}

textarea {
    height: 150px;
}


label {
    font-family: var(--police-paragraphe);
    font-size: 16px;
    font-weight: 500;
    color: var(--couleur-textes);
}

button {
    font-family: var(--police-bouton);
    padding: 12px 20px;
    background-color: var(--couleur-fond-bouton);
    color: var(--couleur-textes);
    border: none;
    border-radius: var(--border-radius-element);
    border: var(--bordure_bouton);
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
    
}

button:hover {
    background-color: var(--couleur-survol-bouton);
    color: var(--couleur-survol-texte);
    border-color: var(--couleur-survol-bordure);
    box-shadow: var(--ombre-box);
    transform: var(--scale-bouton);
}

footer {
    text-align: center;
    padding: 15px;
    background: var(--couleur-fond-bandeau);
    margin-top: 20px;
    font-size: 16px;
    color: var(--couleur-bandeau-texte);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer p {
    margin: 0;
    font-size: 16px;
    font-family: var(--police-petit-titre);
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    .form-container {
        margin: 15px;
        padding: 15px;
    }

    .form-groupe {
        margin-top: 15px;
    }

    input[type="text"], input[type="tel"], input[type="email"], textarea {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 10px 15px;
    }

    footer {
        margin-top: 30px;
    }
}
