@import url('variables.css');

body {
    margin: 0;
    padding: 0;
    background-color: var(--couleur-primaire-fond);
}

header {
    background: var(--couleur-fond-bandeau);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: var(--police-grand-titre);
    margin: 0;
    font-size: 2em;
    color: var(--couleur-bandeau-texte);
    text-shadow: var(--ombre-texte-Titre);
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--couleur-secondaire-fond);
    border-radius: var(--border-radius-box);
    box-shadow: var(--ombre-box);
}

.faq {
    font-size: 16px;
}

h2 {
    font-family: var(--police-moyen-titre);
    color: var(--couleur-textes);
    text-align: center;
    font-size: 22px;
    border-bottom: 2px solid #61689a;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-shadow: var(--ombre-texte-Titre);
}

.faq-item {
    margin-bottom: 15px;
}

.faq-item .question {
    font-family: var(--police-petit-titre);
    color: var(--couleur-textes);
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.faq-item .answer {
    font-family: var(--police-paragraphe);
    background-color: var(--couleur-secondaire-fond);
    padding: 10px;
    border-radius: var(--border-radius-element);
    margin-top: 5px;
    color: var(--couleur-textes);
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
}

footer {
    text-align: center;
    padding: 15px;
    background: var(--couleur-fond-bandeau);
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 16px;
    color: var(--couleur-bandeau-texte);
    font-family: var(--police-petit-titre);
}
