@import url('variables.css');

.footer-container {
  background-color: var(--couleur-primaire-fond);
  color: var(--couleur-textes);
  padding: 20px 0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex: 1;
  border-right: 2px solid #333030;
  text-align: center;
}

.footer-liens {
  list-style: none;
  text-align: left;
}

.footer-liens a {
  color: var(--couleur-textes);
  text-decoration: none;
}

.footer-liens a:hover {
  color: var(--couleur-survol-texte);
}
.réseaux-sociaux a{
  margin: 10px;
}
.réseaux-sociaux a:hover{
  box-shadow: var(--ombre-box);
  border-radius: 50%;
}

.réseaux-sociaux img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 20px;
}

.footer-section h3, 
.footer-section p, 
.footer-section ul {
  margin: 5px;
  padding: 0px;
}


footer>p{
  text-align: center;
  color:var(--couleur-bandeau-texte);
  padding: 15px;
  background: var(--couleur-fond-bandeau);
  margin: 0;
  padding: 10px 0;
}