@import url('variables.css');


header {
    background: var(--couleur-primaire-fond);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
}


.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


.logo {
    height: 50px;
    width: auto;
}

.nav_lien {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 30px;
    font-family: var(--police-lien);
}

.nav_lien a {
    font-size: 18px;
    color: var(--couleur-textes);
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out, transform 0.3s ease;
}


.nav_lien a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--couleur-survol-texte);
    left: 0;
    bottom: -4px;
    transition: width 0.3s ease;
}

.nav_lien a:hover::after {
    width: 100%;
}


.icon_container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon_container a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon_container a:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.lien_profil img, .lien_panier img, .lien_presentation img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    padding: 5px;
}

.lien_se_connecter {
    font-family: var(--police-bouton);
    padding: 8px 16px;
    border-radius: var(--border-radius-element);
    background-color: var(--couleur-fond-bouton);
    color: var(--couleur-textes);
    border: var(--bordure_bouton);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-left: 20px;
}

.lien_se_connecter:hover {
    border-color: var(--couleur-survol-bordure);
    color: var(--couleur-survol-texte);
    background-color: var(--couleur-survol-bouton);
    box-shadow: var(--ombre-box);
}

@media (max-width: 768px) {
    .container1 {
        flex-wrap: wrap;
        gap: 20px;
    }
    .nav_lien {
        justify-content: center;
        gap: 15px;
    }
    .nav_lien a {
        font-size: 16px;
        padding: 5px;
    }
    .lien_se_connecter {
        padding: 6px 12px;
        font-size: 14px;
    }
    .icon_container {
        gap: 10px;
    }
    .lien_profil img, .lien_panier img, .lien_presentation img {
        width: 28px;
        height: 28px;
    }
}
