@import url('variables.css');

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    gap: 40px;
}

.logo {
    height: 40px;
    width: auto;
}

.nav_lien {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-family: var(--police-lien);
}

.lien_accueil, .lien_destinations {
    font-size: 18px;
    padding: 0;
    color: var(--couleur-textes);
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    transition: color 0.3s ease-in-out, transform 0.3s ease;
}

.lien_accueil:hover, .lien_destinations:hover {
    color: var(--couleur-survol-texte);
}

.icon_container {
    display: flex;
    gap: 20px;
}

.lien_profil, .lien_panier, .lien_presentation {
    display: flex;
    justify-content: center;
}

.lien_profil img, .lien_panier img, .lien_presentation img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    padding: 5px;
    margin: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lien_se_connecter {
    font-family: var(--police-bouton);
    padding: 10px;
    border-radius: var(--border-radius-element);
    background-color: var(--couleur-fond-bouton);
    color: var(--couleur-textes);
    border: var(--bordure_bouton);
    font-weight: bold;
    font-size: 16px;
    align-self: center;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.lien_se_connecter:hover {
    border-color: var(--couleur-survol-bordure);
    color: var(--couleur-survol-texte);
    background-color: var(--couleur-survol-bouton);
    box-shadow: var(--ombre-box);
}

header {
    background-color: var(--couleur-primaire-fond);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header a:hover {
    transform: var(--scale-bouton);
}

@media (max-width: 768px) {
    .container1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav_lien {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 10px;
    }

    .lien_accueil,
    .lien_destinations,
    .lien_se_connecter {
        font-size: 14px;
    }

    .lien_se_connecter {
        padding: 4px 10px;
    }

    .icon_container {
        gap: 10px;
    }
}
