body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--couleur-primaire-fond);
    color: var(--couleur-textes);
}

header {
    background: var(--couleur-fond-bandeau);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: var(--police-grand-titre);
    text-shadow: var(--ombre-texte-Titre);
    color: var(--couleur-bandeau-texte);
    margin: 0;
    font-size: 28px;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--couleur-secondaire-fond);
    border-radius: var(--border-radius-box);
    box-shadow: var(--ombre-box);
    font-family: var(--police-paragraphe);
}

h2 {
    font-family: var(--police-moyen-titre);
    color: var(--couleur-textes);
    text-shadow: var(--ombre-texte-Titre);
    font-size: 22px;
    border-bottom: 2px solid #61689a;
    padding-bottom: 5px;
}

a {
    font-family: var(--police-lien);
    color: var(--couleur-textes);
}

a:hover {
    color: var(--couleur-survol-texte);
}

footer {
    font-family: var(--police-paragraphe);
    color: var(--couleur-bandeau-texte);
    text-align: center;
    padding: 16px;
    background: var(--couleur-fond-bandeau);
    margin-top: 20px;
}
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    .content {
        padding: 10px;
        margin: 10px;
    }

    h2 {
        font-size: 18px;
    }

    footer {
        font-size: 14px;
        padding: 10px;
    }
}
