body {
    margin: 0;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

h2 {
    background: var(--couleur-fond-GrandTitre-vid);
    padding: 20px;
    text-align: center;
    font-family: var(--police-grand-titre);
    text-shadow: var(--ombre-texte-Titre);
    border-radius: var(--border-radius-box);
    box-shadow: var(--ombre-box);
    margin: 30px auto;
    width: 80%;
    max-width: 900px;
    color: var(--couleur-textes);
    margin-bottom: 50px;
}


.presentation {
    color: var(--couleur-textes);
    padding: 40px 20px;
    text-align: center;
    margin-top: 40px;
    border-radius: var(--border-radius-box);
}

.texte-presentation {
    font-family: var(--police-paragraphe);
    text-align: center;
    background-color: var(--couleur-primaire-fond);
    padding: 20px;
    border-radius: var(--border-radius-box);
    max-width: 1000px;
    margin: 20px auto;
    line-height: 1.6;
    box-shadow: var(--ombre-box);
}

.createurs {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.createur {
    text-align: center;
    max-width: 300px;
    flex: 1;
    background-color: var(--couleur-primaire-fond);
    padding: 20px;
    border-radius: var(--border-radius-box);
    box-shadow: var(--ombre-box);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-createur {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 16px;
}

.createur p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
    font-family: var(--police-paragraphe);
}
.createur p span{
    font-family: var(--police-petit-titre);
    background-color: var(--couleur-secondaire-fond);
    padding: 5px 5px;
    border-radius: var(--border-radius-element);
    text-shadow: var(--ombre-texte-Titre);
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 768px) {
    .presentation {
        padding: 20px;
    }

    .texte-presentation h2 {
        font-size: 28px;
    }

    .createurs {
        flex-direction: column;
        align-items: center;
    }

    .createur {
        margin-bottom: 40px;
        min-height: 350px;
    }

    .photo-createur {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    #background-video {
        height: auto;
    }

    h2 {
        font-size: 22px;
        padding: 10px;
    }

    .presentation {
        padding: 20px;
    }

    .texte-presentation h2 {
        font-size: 28px;
    }

    .createurs {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .createur {
        margin-bottom: 40px;
        min-height: 350px;
        max-width: 100%;
    }

    .photo-createur {
        width: 150px;
        height: 150px;
    }
}
