@import url('variables.css');




body {
    margin: 0;
    padding: 0;
    color: white;
    background-image: url('../Image/image_voyage_description/journey_to_versailles_1789.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header {
    padding: 10px;
    background-color: #333;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

header p {
    font-size: 1.2em;
    margin-top: 15px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.presentation{
    text-align: center;
}

.reservation, .presentation {
    position: relative;
    background-color: var(--couleur-primaire-fond);
    padding: 40px;
    margin: 40px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.reservation h2 {
    font-size: 30px;
    text-align: center;
    color: #f5f5f5;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.jour {
    background-color: #FFFFFF1A;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    color: white;
    gap: 20px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2)
}

.jour label {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
}

.jour label div {
    flex-grow: 1;
    height: 100%;
}

.jour label h4 {
    font-size: 18px;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}
.jour label p {
    font-size: 14px;
    margin: 5px 0 0 0;
    text-align: center;
}

.jour img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.jour:hover{
    transform: scale(1.2);
    background-color: #505885;
}
h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #f5f5f5;
}


#reservation-form button {
    background-color: #61689a;
    color: white;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
}

#reservation-form button:hover{
    background-color: #505885;
    box-shadow: 0px 0px 8px #add8e6cc
}

@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }

    .reservation {
        padding: 20px;
        margin: 20px auto;
    }

    .reservation h2 {
        font-size: 24px;
    }

    label {
        font-size: 18px;
    }

    button {
        font-size: 16px;
    }
}

.retour img{
    width: 16px;
    height: 16px;
}

.retour {
    position: absolute;
    bottom: 14px;
    left: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    transition: border 0.3s ease-in-out;
}

input[type="radio"]:checked {
    border: 6px solid #555;
}
input[type="radio"]:hover {
    background: rgba(0, 0, 0, 0.05);
    transform: scale(1.05);
}
