@import url('variables.css');
body{
    margin: 0;
    padding: 0;
    background-color: var(--couleur-primaire-fond);
}


h1{
    font-family: var(--police-grand-titre);
    margin-top: 0;
    text-align: center;
    padding: 20px;
    color: var(--couleur-bandeau-texte);
    text-shadow: var(--ombre-texte-Titre);
    background-color: var(--couleur-fond-bandeau);
    font-size: 2.5em;
}


.form-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    background: var(--couleur-secondaire-fond);
    border-radius: var(--border-radius-box);
    box-shadow: var(--ombre-box);
}


input[type="email"], input[type="password"], input[type="text"], input[type="tel"]{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #61689a;
    border-radius: 4px;
    font-size: 16px;
    background-color: #333;
    color: var(--couleur-placeholder);
    font-style: var(--font-style-placeholder);
    box-sizing: border-box;
}


button[type="submit"]{
    font-family: var(--police-bouton);
    padding: 12px 20px;
    background-color: var(--couleur-fond-bouton);
    color: var(--couleur-textes);
    border: var(--bordure_bouton);
    border-radius: var(--border-radius-element);
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


button[type="submit"]:hover{
    background-color: var(--couleur-fond-bouton);
    color: var(--couleur-survol-texte);
    border-color: var(--couleur-survol-bordure);
    box-shadow: var(--ombre-box);
    transform: var(--scale-bouton);
}


h2{
    text-align: center;
    color:var(--couleur-textes);
    font-size: 18px;
    font-family: var(--police-paragraphe);
    transition: color 0.3s ease;
}

h3{
    text-align: center;
    color: var(--couleur-textes);
    font-size: 9px;
    font-family: var(--police-paragraphe);
}

h2 a, h3 a{
    color:var(--couleur-textes);
    font-family: var(--police-lien);
    transition: color 0.3s ease;
}


h2 a:hover, h3 a:hover{
    color: var(--couleur-survol-texte);
}


label{
    color:var(--couleur-textes);
    font-family: var(--police-moyen-titre);
}

.retour img{
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}
.retour:hover{
    transform: var(--scale-bouton);
}

.retour {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background: var(--couleur-fond-bandeau);
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 16px;
    color: var(--couleur-bandeau-texte);
    font-family: var(--police-petit-titre);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
        padding: 15px;
    }

    .form-container {
        margin: 20px auto;
        padding: 15px;
        width: 90%;
    }

    input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
        font-size: 14px;
        padding: 10px;
    }

    .form-group button {
        font-size: 14px;
        padding: 10px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 12px;
    }

    .retour img {
        width: 25px;
        height: 25px;
    }

    footer {
        padding: 10px;
    }

    footer p {
        font-size: 14px;
    }
}

button[type="button"]:hover{
    background-color: var(--couleur-survol-bouton);
    color: var(--couleur-survol-texte);
    box-shadow: var(--ombre-box);
    border-color: var(--couleur-survol-bordure);
    transform: var(--scale-bouton);
}
.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper input[type="password"] {
    flex: 1;
    padding-right: 40px;
}

.input-wrapper .oeil {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.input-wrapper .oeil img {
    width: 20px;
    height: 20px;
}
