@import url('variables.css');
body{
    margin: 0;
    padding: 0;
    background-color: var(--couleur-primaire-fond);
}


h1{
    margin-top: 0;
    text-align: center;
    padding: 20px;
    color: var(--couleur-textes);
    background-color: var(--couleur-fond-bandeau);
    font-size: 2.5em;
    margin-bottom: 70px;
}


.form-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: var(--couleur-secondaire-fond);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


input[type="email"], input[type="password"]{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #61689a;
    border-radius: 4px;
    font-size: 16px;
    background-color: #333;
    color: var(--couleur-placeholder);
    box-sizing: border-box;
}


.form-group button{
    padding: 12px 20px;
    background-color: var(--couleur-fond-bouton);
    color: var(--couleur-textes);
    border: var(--bordure_bouton);
    border-radius: var(--border-radius);
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}


.form-group button:hover{
    background-color: var(--couleur-survol-bouton);
    color: var(--couleur-survol-texte);
    box-shadow: var(--ombre-box);
    border-color: var(--couleur-survol-bordure);
}


h2{
    text-align: center;
    color:var(--couleur-textes);
    font-size: 16px;
}

h2 a{
    color:var(--couleur-textes);
}


h2 a:hover{
    color: var(--couleur-survol-texte);
}


label{
    color:var(--couleur-textes);
}

.retour img{
    width: 30px;
    height: 30px;
}

.retour {
    position: absolute;
    bottom: 16px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}