@import url('variables.css');
body{
    margin: 0;
    padding: 0;
    background-color: var(--couleur-primaire-fond);
}


h1{
    margin-top: 0;
    text-align: center;
    padding: 20px;
    color: var(--couleur-bandeau-texte);
    font-family: var(--police-grand-titre);
    text-shadow: var(--ombre-texte-Titre);
    background-color: var(--couleur-fond-bandeau);
    font-size: 2.5em;
}


.form-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    background: var(--couleur-secondaire-fond);
    border-radius: var(--border-radius-box);
    box-shadow: var(--ombre-box);
}


input[type="email"], input[type="password"]{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #61689a;
    border-radius: var(--border-radius-element);
    font-style: var(--font-style-placeholder);
    font-size: 16px;
    background-color: #333;
    color: var(--couleur-placeholder);
    box-sizing: border-box;
}


.form-group button{
    padding: 12px 20px;
    font-family: var(--police-bouton);
    background-color: var(--couleur-fond-bouton);
    color: var(--couleur-textes);
    border: var(--bordure_bouton);
    border-radius: var(--border-radius-element);
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.form-group button:hover{
    background-color: var(--couleur-survol-bouton);
    color: var(--couleur-survol-texte);
    box-shadow: var(--ombre-box);
    border-color: var(--couleur-survol-bordure);
    transform: var(--scale-bouton);
}


h2{
    font-family: var(--police-paragraphe);
    text-align: center;
    color:var(--couleur-textes);
    font-size: 16px;
}

h2 a{
    font-family: var(--police-lien);
    color:var(--couleur-textes);
}


h2 a:hover{
    color: var(--couleur-survol-texte);
}


label{
    color:var(--couleur-textes);
    font-family: var(--police-petit-titre);
}

.retour img{
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.retour {
    position: absolute;
    bottom: 16px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.retour:hover{
    transform: var(--scale-bouton);
}

footer {
    text-align: center;
    padding: 15px;
    background: var(--couleur-fond-bandeau);
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 16px;
    color: var(--couleur-bandeau-texte);
    font-family: var(--police-petit-titre);
}