@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;600&family=Roboto:wght@300;400;700&family=Lora:ital@1&family=Montserrat:wght@500;700&display=swap');

:root {
    --couleur-primaire-fond: #2C1E3D;
    --couleur-secondaire-fond: #2A253D;
    --couleur-textes: #E0E4F1;
    --couleur-placeholder: #A8A8C5;
    --couleur-bandeau-texte: #B9A7C2;
    
    --couleur-fond-bandeau: #1A1B2A;
    --couleur-fond-GrandTitre-vid: #00000099;
    --couleur-fond-bouton: #4F5C76;

    --police-bouton: 'Montserrat', sans-serif;
    --police-grand-titre: 'Playfair Display', serif;
    --police-moyen-titre: 'Poppins', sans-serif;
    --police-petit-titre: 'Poppins', sans-serif;
    --police-paragraphe: 'Roboto', sans-serif;
    --police-citation: 'Lora', serif;
    --police-lien: 'Montserrat', sans-serif;

    --couleur-survol-bouton: #3A4A6B;
    --couleur-survol-texte: #7FB1D3;
    --couleur-survol-bordure: #7FB1D3;
    --scale-bouton: scale(1.2);
    --scale-voyage: scale(1.2);

    --bordure_bouton: 1px solid #E0E4F1;
    --ombre-box: 0px 0px 8px rgba(63, 84, 104, 0.3);
    --ombre-texte-Titre: 2px 2px 4px rgba(0, 0, 0, 0.7);
    --font-style-placeholder: italic;
    --border-radius-element: 8px;
    --border-radius-box: 15px;

    --couleur-prix: #A7C8FF;
    --couleur-prix-ancien: #D1D6E0;
}
