@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;600&family=Roboto:wght@300;400;700&family=Lora:ital@1&family=Montserrat:wght@500;700&display=swap');

:root {
    --couleur-primaire-fond: #678892;
    --couleur-secondaire-fond: #5F6B75;
    --couleur-textes: #121C26;
    --couleur-placeholder: #4C5965;
    --couleur-bandeau-texte: #472F5A;

    --couleur-fond-bandeau: #3B4A58;
    --couleur-fond-GrandTitre-vid: #D1D1D1;
    --couleur-fond-bouton: #35424e;

    --police-bouton: 'Montserrat', sans-serif;
    --police-grand-titre: 'Playfair Display', serif;
    --police-moyen-titre: 'Poppins', sans-serif;
    --police-petit-titre: 'Poppins', sans-serif;
    --police-paragraphe: 'Roboto', sans-serif;
    --police-citation: 'Lora', serif;
    --police-lien: 'Montserrat', sans-serif;

    --couleur-survol-bouton: #2A3D47;
    --couleur-survol-texte: #0F1924;
    --couleur-survol-bordure: #2A3D47;
    --scale-bouton: scale(1.10);
    --scale-voyage: scale(1.10);

    --bordure_bouton: 1px solid #4C5965;
    --ombre-box: 0px 4px 16px rgba(0, 0, 0, 0.4);
    --ombre-texte-Titre: 3px 3px 6px rgba(0, 0, 0, 0.5);
    --font-style-placeholder: italic;
    --border-radius-element: 8px;
    --border-radius-box: 15px;

    --couleur-prix: #1C2833;
    --couleur-prix-ancien: #4C5965;
}
