@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;600&family=Roboto:wght@300;400;700&family=Lora:ital@1&family=Montserrat:wght@500;700&display=swap');


:root {
    /* Couleurs principales */
    --couleur-primaire-fond: #4A3B50; /* Couleurs des principaux fonds d'éléments*/
    --couleur-secondaire-fond: #FFFFFF1A; /* Couleurs des fonds d'éléments si ils sont au dessus d'un fond de la couleur principale */
    --couleur-textes: white;
    --couleur-placeholder: #aaa;
    --couleur-bandeau-texte: #dacfcf; /* le texte à l'intérieur des bandeaux de certaines pages (footer, header) */
    
    /* Fonds spécifiques */
    --couleur-fond-bandeau: #333; /* couleur du fond des bandeaux (footer, header) */
    --couleur-fond-GrandTitre-vid: #00000099; /* Less grands titres dans des bandeaux sur une vidéo */
    --couleur-fond-bouton: #61689a;

    /* Police d'écriture */
    --police-bouton: 'Montserrat', sans-serif;
    --police-grand-titre: 'Playfair Display', serif;
    --police-moyen-titre: 'Poppins', sans-serif;
    --police-petit-titre: 'Poppins', sans-serif;
    --police-paragraphe: 'Roboto', sans-serif;
    --police-citation: 'Lora', serif;
    --police-lien: 'Montserrat', sans-serif;

    /* Effets de survol */
    --couleur-survol-bouton: #505885;
    --couleur-survol-texte: aquamarine;
    --couleur-survol-bordure: aquamarine;
    --scale-bouton: scale(1.2);
    --scale-voyage: scale(1.2);

    /* Styles spécifique : */
    --bordure_bouton: 1px solid white;
    --ombre-box: 0px 0px 8px #add8e6cc;
    --ombre-texte-Titre: 2px 2px 4px #000000;
    --font-style-placeholder: italic;
    --border-radius-element: 8px;
    --border-radius-box: 15px;

    /* Couleurs spécifiques */
    --couleur-prix: #ffe680;
    --couleur-prix-ancien: #ede9e9;
}
