body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('image_background/accueil_background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.7);
}

body{
    margin: 0;
}


h2{
    text-align: center;
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

h3{
    font-weight: 900;
    text-align: center;
    color: white;
    margin-top: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.container2 h4{
    text-align: center;
    margin: 10px 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10%;
}
.container2 p{
    font-size: 15px;
    text-align: center;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    margin: 100px auto;
    max-width: 90%;
}
.container2 div {
    background-color: #4A3B50;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

@media (max-width: 768px) {
    .container2 {
        grid-template-columns: 1fr;
        max-width: 80%;
    }
}
  