#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
body{
    margin: 0;
}


.bannière, .offre-bannière, .titre {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #add8e6cc;
    margin: 30px auto;
    width: 80%;
    max-width: 900px;
}

.bannière h2, .offre-bannière h2, .bannière h3{
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.bannière h3 {
    font-size: 18px;
    margin-top: 10px;
    font-style: italic;
}

.offre-bannière {
    margin-top: 60px;
}
.container2 h4{
    text-align: center;
    margin: 10px 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
}
.container2 p{
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    margin: 100px auto;
    max-width: 90%;
}
.container2 div {
    background-color: #4A3B50;
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(173, 216, 230, 0.8);
}

.Voyages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.Voyages > div {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #4A3B50;
    box-shadow: 0px 0px 15px rgba(173, 216, 230, 0.8);
    transition: transform 0.3s ease;
}

.Voyages > div:hover{
    transform: scale(1.1);
}

.Voyages .image_destinations {
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-radius: 8px;
}

.Voyages .période {
    font-size: 17px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.Voyages .description {
    margin: 0 10px;
    color: white;
    text-align: left;
}

.Voyages .prix_bouton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px 10px 10px;
}

.prix-container {
    display: flex;
    align-items: center;
}

.ancien-prix {
    text-decoration: line-through;
    color: #ede9e9;
    margin-right: 10px;
    opacity: 0.4;
    font-size: 15px;
}

.nouveau-prix {
    font-weight: bold;
    color: #ffe680;
    animation: sparkle 1s infinite alternate;
    font-size: 18px;
}

@keyframes sparkle {
    0% { text-shadow: 0 0 5px #ffffff, 0 0 10px #d9d9d9, 0 0 15px #bfbfbf; }
    50% { text-shadow: 0 0 10px #ffffff, 0 0 20px #e6e6e6, 0 0 25px #cccccc; }
    100% { text-shadow: 0 0 5px #ffffff, 0 0 10px #d9d9d9, 0 0 15px #bfbfbf; }
}

.Voyages .en_savoir_plus {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background-color: #61689a;
    border: 1px solid white;
    border-radius: 5px;
}

.Voyages .en_savoir_plus:hover {
    border-color: aquamarine;
    color: aquamarine;
    box-shadow: 0px 0px 8px #add8e6cc;
}

.voyage-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 8px #add8e6cc;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.voyage-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
    transition: transform 0.5s ease-in-out;
}

.voyage-box:hover img {
    transform: scale(1.1);
}

.voyage-box h3 {
    position: relative;
    z-index: 2;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.voyage-box .Découvrir {
    position: relative;
    z-index: 2;
    padding: 12px 18px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #61689a;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;
}

.voyage-box .Découvrir:hover {
    background-color: #505885;
    color: aquamarine;
    border-color: aquamarine;
    transform: scale(1.1);
    box-shadow: 0px 0px 8px #add8e6cc;
}









.section-citations {
    padding: 40px 20px;
    text-align: center;
    margin: 30px auto;
    max-width: 900px;
}

.titre-citations {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #add8e6cc;
    margin: 30px auto;
    width: 80%;
    max-width: 900px;
    color: white;
}

.citations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.citation {
    background-color: #4A3B50;
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0px 0px 15px rgba(173, 216, 230, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texte-citation {
    font-style: italic;
    font-size: 1.1em;
    margin-bottom: 15px;
}

.auteur {
    font-weight: bold;
    color: #f39c12;
    font-size: 1em;
}

  