@import url('variables.css');

body {
    margin: 0;
    padding: 0;
    background-color: var(--couleur-primaire-fond);
}

header {
    background: var(--couleur-fond-bandeau);
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: var(--couleur-textes);
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--couleur-secondaire-fond);
    border-radius: var(--border-radius);
    box-shadow: var(--ombre-box);
}

.faq {
    font-size: 16px;
}

h2 {
    color: var(--couleur-textes);
    font-size: 22px;
    border-bottom: 2px solid #61689a;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-item .question {
    color: var(--couleur-textes);
    font-size: 18px;
}

.faq-item .answer {
    background-color: var(--couleur-secondaire-fond);
    padding: 10px;
    border-radius: var(--border-radius);
    margin-top: 5px;
    color: var(--couleur-textes);
}

footer {
    text-align: center;
    padding: 15px;
    background: var(--couleur-fond-bandeau);
    margin-top: 20px;
    font-size: 14px;
    color: var(--couleur-textes);
}

footer p {
    margin: 0;
}
