.container1 {
    display: grid;
    grid-template-areas: "logo accueil destinations se_connecter";
    grid-template-columns: 100px auto auto minmax(120px, auto);
    grid-template-rows: 50px;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
}

header img {
    grid-area: logo;
    height: 40px;
    width: auto;
}

.lien_accueil {
    grid-area: accueil;
    justify-self: center;
}

.lien_destinations {
    grid-area: destinations;
    justify-self: center;
}

.lien_se_connecter {
    grid-area: se_connecter;
    justify-self: end;
    border: #61689a solid 2px;
    padding: 5px 15px;
    border-radius: 5px;
    
    background-color: #61689a;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.lien_se_connecter:hover {
    background-color: #505885;
}

header {
    background-color: #4A3B50;
}

header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

header a:hover {
    color: aquamarine;
}

@media (max-width: 768px) {
    .container1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .lien_accueil,
    .lien_destinations,
    .lien_se_connecter {
        font-size: 14px;
    }

    .lien_se_connecter {
        padding: 4px 10px;
    }
}
