@import url('variables.css');

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--couleur-primaire-fond);
    color: var(--couleur-textes);
}

header {
    background: var(--couleur-fond-bandeau);
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--couleur-secondaire-fond);
    border-radius: var(--border-radius);
    box-shadow: var(--ombre-box);
}

h2 {
    color: var(--couleur-textes);
    font-size: 22px;
    border-bottom: 2px solid #61689a;
    padding-bottom: 5px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: var(--couleur-textes);
}

a:hover {
    color: var(--couleur-survol-texte);
}

footer {
    text-align: center;
    padding: 15px;
    background: var(--couleur-fond-bandeau);
    margin-top: 20px;
}
