:root {
    --couleur-primaire-fond: #4A3B50;
    --couleur-secondaire-fond: #FFFFFF1A;
    --couleur-fond-bouton: #61689a;
    --couleur-fond-bandeau: #333;
    --couleur-survol-bouton: #505885;
    --couleur-survol-texte: aquamarine;
    --couleur-survol-bordure: aquamarine;
    --couleur-bandeau-texte: #dacfcf;
    --couleur-placeholder: #aaa;
    --font-style-placeholder : italic;
    --couleur-textes: white;
    --couleur-fond-GrandTitre-vid: #00000099;
    --ombre-texte-Titre: 2px 2px 4px #000000;
    --bordure_bouton : 1px solid white;
    --ombre-box: 0px 0px 8px #add8e6cc;
    --couleur-prix: #ffe680;
    --couleur-prix-ancien: #ede9e9;
    --border-radius: 8px;
}